# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Environment
.env
.env.production
.venv/
venv/

# Django
staticfiles/
media/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.vercel
.env*.local
